<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hatecouple.hate.db.CineMapper">

	<select id="getMovieInArea" resultType="org.hatecouple.hate.bean.MovieAreaList" parameterType="org.hatecouple.hate.bean.MovieAreaList">
		select c_theaterName,c_movieName,c_movieTime,c_clearChair from cgvmovielist where c_theaterName=#{c_theaterName}
	</select>
</mapper>